body {
    background-color: #f9f9f9;
    font-family: Arial;
    padding: 20px;
  }
  
  h1 {
    color: #d9534f;
  }
  
  ul {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  
  form {
    background-color: #e7f0f9;
    padding: 10px;
    border-radius: 5px;
  }
  