@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animar-texto {
    animation: fadeIn 1s ease-in-out;
  }
  
  .animar-boton {
    animation: fadeIn 1.5s ease-in-out;
  }
  